@import './lib-mixin';
@import "./lib-variable";

#app .el-pagination{
  font-size:14px;color:#5e6c7e;
  .el-input__inner{
    border:1px solid #0893fd;
    color:#0893fd;
  }
  .el-pager{
    border:1px solid #0893fd;
    border-radius:4px;padding:4px 2px;
    li{
      border-radius:4px;font-size:12px;height:20px;line-height:20px;min-width:20px;margin:0 4px;color:#0893fd;
      &.active{color:#fff;background:#0893fd;}
      &:hover{color:#fff;background:#0893fd;}
    }
    .more::before{line-height:20px;}
  }
}


#app .el-select {
  .el-input__inner {
    background: #fafbff;
    height: 30px;
    border: 1px solid #c2c4cc;
    box-sizing: border-box;
    font-size: 12px;
  }
}

.el-select-dropdown__item.selected.hover,.el-select-dropdown__item:hover {
  color: #ffffff;

  background: #0893fd !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner
{
  width: 130px !important;
}

.el-date-editor .el-input .el-input--prefix .el-input__icon .el-icon-date
{

  line-height: 20px !important;
}

.el-input__prefix, .el-input__suffix {
  color: #0893fd !important;
}


